{% extends "base.html" %}
{% load i18n %}

{% block content %}
                <h2>{% trans "Email address validation" %}</h2>

                {% if notfound %}
                <p>{% trans "This validation link is not valid. May be your email was already validated ?" %}</p>
                <p>{% trans "We invite you to check the validation email we sent to you, and to copy/paste the validation link in your browser URL bar if you can not click on it." %}</p>
                {% else %}
                <p>{% trans "You email address is validated." %}</p>
                {% endif %}
{% endblock %}
